.home{
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
 }
.sort{
   img{
    cursor: pointer;
   }
 }
 .input{
  border: 1px solid green;
  border-radius: 5px;
  padding: 5px 5px 5px 33px;
  margin-bottom: 5px;
  &::placeholder{
    color: rgb(209, 200, 188);
  }
 }
 .search{
   position: relative;
   img {
    position: absolute;
    top: 3px;
    left: 3px;
   }
 }
 .dropdown{
   display: flex;
   justify-content: space-between;
   @media (max-width:760px){
    display: block ;
   }
 }