.header {
   padding: 10px 0;
   .container {
     display: flex;
     align-items: center;
     justify-content: space-between;
     flex-wrap: wrap;
   }
}
.container {
  width: 90%;
  margin: 0 auto;
}
.header_logo {
  display: flex;
align-items: center;

}
.button{
  font-family: 'Nerko One', cursive;
  border: 1px solid #ffffffab;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  background-color: green;
  color: #fff;
  margin-top: 10px;
  &:hover{
    background-color: rgb(40, 205, 40);
  }
}
.title{
  color: #000;
}

@media (max-width: 370px) {
  .title h1{
    font-size: 30px;
  }
}