.card{
   background-color: #fff;
   height: 300px;
   margin: 10px;
   padding: 10px;
   border-radius: 15px;
   border: 3px solid rgb(243 240 240 / 67%);
   img{
      height: 90%;
   }
   h3{
      padding-top: 20px;
   }
   h5{
      font-size: 16px;
   }
}
.wrapper{
   margin: 0 15px 40px 0;
}