@import 'normalize';

body {
   background-color: #d8d0bc;
   /* font-family: 'Nerko One', cursive; */
   /* font-family: 'Roboto', sans-serif; */
 }
 
 .wrapper {// vw - 1% ширины окна бр.
   width: calc(100vw - 60px);
   height: 100%;
   background-color: #ffffffab;
   margin: 30px auto;
   border-radius: 10px;
   max-width: 1420px;
   min-height: 85vh;
   @media (max-width: 480px) {
    width: calc(100vw - 14px);
 }
}
 .futer{
  padding: 5px 15px;
  color: #8a826a;
  bottom: 10px;
  
 }
 .container {
   width: 90%;
   margin: 0 auto;
   /* &--cart {
     max-width: 820px;
     margin: 90px auto;
     .content__title {
       margin: 0;
     }
   } */
 }
 


